body {
    margin:24px;padding:0;
  }

.button {
  background-color: #209494;
  color: white;
  border: none;

}

.GetStarted {
  margin: 0px 0px 24px 0px;
  padding: 0px 24px 24px 0px;
}

p {
  text-align: left;
}


.navBar {
  background-color: #151616;
  color: white;
  padding: 24px;
}

.li {
  color: white;
}


h2 {
  text-align: center;
  padding: 24px 24px 24px 0px;
}

.jumbotron {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1617927066118-241d4406a82c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=faran-raufi-aZtJqc4FE5s-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 200px;
}